<%- include("../partials/header") %>

<div class="container">
  <%= messages %> 
    <h1>All Farms</h1>
  <ul>
    <% for(let farm of farms) { %>
    <li><a href="/farms/<%= farm._id %> "><%= farm.name %></a></li>
    <% } %>
  </ul>
  <a href="/farms/new">Create a Farm listing</a>

</div>

<%- include("../partials/footer") %>
