<%- include("../includes/head") %> 
<title><%= campground.title %></title>
</head>
<body>
<h1><%= campground.title %></h1>
<h2><%= campground.location %> </h2>
<a href="/campgrounds/<%= campground._id %>/edit">Edit This Campground</a>
<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
<button>Delete This Campground</button>
</form>
<footer><a href="/campgrounds">All Campgrounds</a></footer>
<%- include("../includes/footer") %> 
