<%- include("../includes/head") %> 
<title><%= campground.title %></title>
</head>
<body>
<h1><%= campground.title %></h1>
<h2><%= campground.location %> </h2>
<footer><a href="/campgrounds">All Campgrounds</a></footer>
<%- include("../includes/footer") %> 
