<%- include("partials/header") %>
<div class="container">
  <h1><%= category.charAt(0).toUpperCase() + category.slice(1, category.length)  %>  Products</h1>
  <ul>
    <% for(let product of products) { %>
    <li><a href="/products/<%= product._id %> "><%= product.name %></a></li>
    <% } %>
  </ul>
  <a href="/products/new">Create a product listing</a>
  <% if(category !== 'All') { %> 
  <a href="/products/">All Products</a>
  <% } %> 
</div>

<%- include("partials/footer") %>
