<%- include("partials/header") %>
<div class="container">
  <h1>Edit Listing</h1>
  <form action="/listings/<%= listing.id %>?_method=PATCH" method="POST">
    <section>
      <label for="title">Edit Title</label>
      <input type="text" name="title" id="title" value="<%= listing.title %>" />
      <label for="host">Edit Host Name</label>
      <input type="text" name="host" id="host" value="<%= listing.host %>" />
    </section>
    <section>
      <label for="imgSrc">Upload Image Listing</label>
      <input type="file" name="imgSrc" id="imgSrc" multiple />
    </section>
    <section>
      <label for="price">Enter a price per night</label>
      <input type="number" name="price" id="price" value="<%= listing.price %>" />
      <br />
      <label for="description"></label>
      <br />
      <textarea
        name="description"
        id="description"
        cols="40"
        rows="5"
      ><%=listing.description %></textarea>
    </section>
    <button>Save</button>
  </form>
</div>
<%-include("partials/footer") %>
