<%- include("../partials/header") %>
<div class="container">
  <form action="/products/<%= product._id %>?_method=put" method="post">
    <section>
      <label for="name">Change Product Name</label>
      <input
        type="text"
        name="name"
        id="product-name"
        value="<%= product.name %> "
      />
    </section>
    <section>
      <label for="price">Change Product Price</label>
      <input
        type="number"
        name="price"
        id="product-price"
        step="0.01"
        value="<%= product.price %> "
      />
    </section>
    <section>
      <label for="category">Change Category</label>
      <select name="category" id="category-select">
        <% for(let category of categories) { %>
        <option value="<%= category %>" <%= product.category === category ? 'selected': '' %>>
        <%= category %>
        </option>
        <% } %>
      </select>
    </section>

    <button>Save New Product</button>
  </form>
  <a href="/products/<%= product._id %>">Cancel edit</a>
</div>
<%- include("../partials/footer") %>

